/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 4, 2015, 3:40:34 PM
    Author     : andrewcarlson
*/

/* page */
.container-full { margin: 0 auto; width: 100%; }

.navbar { margin-bottom: 0px !important; border-radius: 0px !important; }

/* content */
#content { padding-top: 5px; padding-left: 5px; }
